
@media screen and (min-width:768px) {
  .MuiBox-root .css-8atqhb {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
}

.MuiBox-root .css-8atqhb {
padding-left: 0; 
padding-right: 0;
}

.MuiBox-root .css-p2w5x8 p {
display: flex;
align-items: center;
justify-content: space-between;
font-size: 0.88rem;
font-weight: 550;
}

}



@media screen and (max-width:767px) {
    .MuiBox-root .css-8atqhb {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 0.5rem;
    }

  .MuiBox-root .css-8atqhb {
    padding-left: 0; 
 padding-right: 0;
 }

 .MuiBox-root .css-p2w5x8 p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.88rem;
  font-weight: 550;
 }


}