






@media screen and (max-width:767px) {
   
    .headingSkill {
        margin-top: 2rem;
        text-align: center;
        padding: 0.5rem;
        margin: 0.5rem;
        margin-top: 1rem;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
        border-radius: 1.5rem;
        text-shadow:2rem;
        text-align: center;
        background-color: #353353;
        color: white;
        text-underline-offset: 1rem;
    }
    .headingSkill h1 {
        border-width: 0.1rem;
        border-radius: 2rem;
        font-size: 1.5rem;
    }
    
    .skillList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 0.9rem;
    }
    .skillList-row {
        display: flex;
        flex-basis: 50%;
        
    }
    .item {
       flex: 1;
        transform: scale(0.7);
        transition: transform 0.5s ease-in-out;
      }
      .item:hover {
        transform: scale(1.1);
      }
}
