



@media screen and (min-width:768px) {
   .list_items {
      display:flex;
      justify-content: flex-end;
      align-items: center;
      margin-left:32rem;
   }
   .list_items li {
      padding-left: 2rem;
      cursor: pointer;
      font-size: 0.9rem;
      font-weight: 500;
      color: aliceblue;
      text-size-adjust: 1rem;
      text-decoration: none;
   }
}


/* for Mobile secreen*/
@media screen and (max-width:767px) {

   .list_items {
      background-color:#353353!important;
      height: 2.3rem;
     
      box-shadow: 0px 15px 12px 0px rgba(0,0,0,0.22),
      
   }
   .css-i6s8oy {
      background-color:#353353!important;
   }
   .list_items li  {
     display: none;
   }
   .btn_menu {
      padding-left: 0.7rem;
      display: block;
      padding-top: 0.2rem;
      color: #ffd15c;;
   }
}