

@media screen and (min-width:767px) {


    .css-hyum1k-MuiToolbar-root {
        background-color:#353353;
        color: white;
      
    }
 
    button, html [type=button] {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.css-12i7wg6-MuiPaper-root-MuiDrawer-paper  {
        background-color:#353353;
        color: white;
      
    }
    .css-i4bv87-MuiSvgIcon-root  {
      color: white;
    }
    
    .css-hyum1k-MuiToolbar-root {
        background-color: #353353;
        
    }
    
    .css-i4bv87-MuiSvgIcon-root {
        color: #ffd15c;
        
    }
    button, html [type=button] {
        scale: 1.2;
       
    }
    .css-h4y409-MuiList-root {
        padding: 4rem;
        text-align: center;
    }
    .sidebarList li:hover {
    color: #ffd15c;
    }
    .css-i4bv87-MuiSvgIcon-root {
        width: 1.5rem;
        height: 1.5rem;
    }
 
    .sidebarList {
        margin-top: 1.5rem;
        margin-right: 5rem;
        display: flex;
        align-items: baseline;
        justify-content: center;
        flex-direction: column;
        align-content: center;
         scale: 0.99;
         
    }
    .sidelistitems {
        padding: 10px;
    }
    .sidebarList p {
        font-size: 18.5px;
        font-weight: 700;
         color: white;
        cursor: pointer;
        letter-spacing: normal;
        font-family:Rubik,sans-serif!important;
    }
   .sidelistitems-container {
    display: flex;
    justify-content: center;
    align-items: center;
   }
  
   .nameHeading {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-align: center;
    margin-left: 0.5rem;
color: white;
   }
   .css-1k455el {
    box-shadow: 0px 15px 12px 0px rgba(0,0,0,0.22);
   }
   .css-9mgopn-MuiDivider-root {
    display: none;
}
.css-22u6wc .MuiDrawer-paper {
    background-color: #353353;
}
.social-media {
    display: flex;
align-items: center;
justify-content: flex-start;
align-content: stretch;
padding-top: 1.8rem;
}
.social-media a {
   margin-left: 1rem;
}
.all-rights {
    font-size: 12px;
    margin-top: 9px;
    color: #9d98a7;
    font-weight: 500;
    margin-right: 48px;
    opacity: 0.55;
}
svg:not(:root) {
    overflow: hidden;
    color: #ffd15c;
}
}






